/*PRIMEFACES Início (customização do tema padrão)*/
/*customização das mensagens do primefaces*/
.ui-messages{text-align: center; font-weight:normal; font-size: 12px;}
.ui-messages li {margin: 5px 0px 5px 0px;}
.ui-messages-error{color: red; background-color: transparent; border: 0; margin: 0; padding: 0;}
.ui-messages-info{color: #0099ff; background-color: transparent; border: 0; margin: 0; padding: 0;}
.ui-messages li{margin: 0;}
.ui-messages.ui-messages-noicon ul{margin: 0;}

/*retirar ícones do texto do menu*/
/*.ui-widget-content .ui-icon {background-image: none;}*/

/*retirar ícones de triângulo em opção com submenu*/
span.ui-icon-triangle-1-s, span.ui-icon-triangle-1-e{display: none;}
.ui-menubar .ui-menuitem-link{padding: .2em .2em;}
.ui-menu .ui-menuitem-link{line-height: normal;}

/*background dos submenus*/
.ui-menu .ui-menu-child{
    background: white;
}

/*retirar background da barra de menu*/
.ui-menu {background: transparent;}
/*retirar efeito 'hover' do background do link de menu*/
.ui-state-hover, .ui-widget-content .ui-state-hover{background: #30AAFF;}
.ui-corner-all{border-radius: 1px;}
/*retira borda da barra de menu*/
.ui-widget-content{
    border: 0;
}

/*link de 'menuitem'*/
.ui-menu .ui-menuitem-link{
    display: flex;
    align-items: center;
}
.custom-icon {
    background-size: 30px;
    width: 30px;
    height: 30px;
    margin-right: .5em;
}
.ui-menuitem-icon.ui-icon.custom-icon.flag-br{
    background-image: url('../images/brazil-flag.png');
}
.ui-menuitem-icon.ui-icon.custom-icon.flag-us{
    background-image: url('../images/usa-flag.png');
}
.custom-icon-tiny{
    background-size: 15px;
    width: 15px;
    height: 15px;
    margin-right: .2em;
}
/*icone da raiz de menu*/
.ui-widget-content .ui-icon.custom-icon-tiny.settings{
    background-image: url('../images/settings.svg');
    color: #0099ff;
}

/*largura do submenu*/
.ui-menu .ui-menu-parent .ui-menu-child{
    width: auto;
}
.ui-menu .ui-menuitem{
    float: none;
}
/*PRIMEFACES Fim*/

/*HTML customs*/
html * {font-family: Arial !important;}
body {color: black;margin: 0; padding: 0; background-image: url(../images/light-blue-wave-background.jpg);}
h4, h5, h6 {margin-bottom: 5px;}
a {text-decoration: none; color: black;}
a:hover{color: #0099ff;}
table {border-collapse: collapse;border-spacing: 0;}
tr, td {margin: 0; padding: 0;}

/*APP Customs*/
.landpageMainMsg {margin: 50px 0px 50px 0px;}
.formTitle{text-align: center;}
.button {
    border: 0;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
.button:hover{
    background-color: #1080FF;
}
.button:active{
    background-color: #60BBFF;
}
.indexButton{
    background-color: #2099FF;
}
.framedLeftPanel {
    width: 60%;
    position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);
    background-color: #80bbff;
    padding: 0px 30px 20px 30px;
    border-radius: 15px;
}
.noBgColor{
    background-color: transparent;
}
.plainText {color: black; margin: 0;}
.tinyText {font-size: 11px;}

/*FORM*/
/*layout*/
.inputField {
    border: 0; 
    border-radius: 2px; 
    padding: 5px; width: 100%; box-sizing: border-box;
    font-size: 15px;
}
.formButton{float: right; margin-top: 15px;}
.label{display: block; margin-top: 1em;}
.panelGrid{width: 100%}
.customExtraFooter {display: table; margin-top: 50px; text-align: right; float: right;}
/*mensagens de erro*/
.fieldError {color:red; font-size: .75em; margin-left: .5em; float: right;}
.required {color:red;}
.errorLabel {font-style:italic; color:red; }
.actionMessage {text-align: center; font-weight:normal; color:green; font-size: 12px; box-sizing: border-box;}
ul{margin: 0px; padding: 0px;}
li.errorMessage {list-style-type: none; color: red; font-size: 15px; font-weight: bold; padding: 0;}
ul.actionMessage {list-style-type: none; color: green; font-size: 15px; font-weight: bold; padding: 0;}

/* On screens that are Xpx or greater*/
@media screen and (min-width: 720px) {
    .framedLeftPanel {
        width: 40%;
    }
}

/* On screens that are Xpx or greater*/
@media screen and (min-width: 1024px) {
    .framedLeftPanel {
        width: 25%;
        position: absolute; top: 20%; left: 12.5%; transform: translateX(-20%) translateY(-12.5%);}
}

/* On screens that are Xpx or greater*/
@media screen and (min-width: 1280px) {
    .framedLeftPanel {
        width: 20%;
        position: absolute; top: 20%; left: 12.5%; transform: translateX(-20%) translateY(-12.5%);}
}